div#comments {
    font-family: 'OswaldLight', 'Helvetica', sans-serif;
}

div#comments li {
    margin: 20px 0;
    list-style: none;
}

div#comments li > div {
    position: relative;
    min-height: 60px;
}

div#comments .children li {
    margin-left: 5%;
    list-style: unset;
}

.comment-author.vcard {
    font-family: 'OswaldBold', 'Helvetica', sans-serif;
    display: inline-block;
    text-transform: uppercase;
}

.comment-meta.commentmetadata {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: 0.8em;
}

.comment-body {
    padding: 0 5%;
    display: inline-block;
}

.comment-body p {
    padding: 15px 0;
}

#comments .reply {
    font-family: 'OswaldBold', 'Helvetica', sans-serif;
    font-size: 0.9em;
    position: absolute;
    bottom: 0;
}

div#respond {
    position: relative;
}

h3#reply-title {
    font-size: 1em;
    font-family: 'OswaldBold', 'Helvetica', sans-serif;
    font-weight: normal;
}

a#cancel-comment-reply-link {
    position: absolute;
    right: 0;
    font-size: 1.2em;
}

#respond p.comment-form-comment {
    padding: 15px 0 0 0;
}

textarea#comment {
    width: 96%;
    height: 70px;
    padding: 2% 2% 5% 2%;
    font-family: 'OswaldLight', 'Helvetica', sans-serif;
    font-size: 1em;
}

#respond p.form-submit {
    font-family: 'OswaldLight', 'Helvetica', sans-serif;
    padding: 0;
    position: absolute;
    bottom: 5px;
    right: -1px;
    width: 30%;
}

input#submit {
    width: 100%;
    font-family: 'OswaldBold', 'Helvetica', sans-serif;
    background: #2c6247;
    color: #fff;
}


