/* Fonts */
@font-face {
    font-family: 'LobsterRegular';
    src: url("../fonts/Lobster-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'OswaldBold';
    src: url("../fonts/Oswald/Oswald-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'OswaldExtraLight';
    src: url("../fonts/Oswald/Oswald-ExtraLight.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'OswaldLight';
    src: url("../fonts/Oswald/Oswald-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'OswaldRegular';
    src: url("../fonts/Oswald/Oswald-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

a {
    color: #2c6247;
    text-decoration: none;
}

/* Favicon */
.favicon {
    position: relative;
    width: 300px;
    height: 50px;
    background: #d5d5d5;
    border-radius: 7px 7px 0 0;
}

.favicon img {
    width: 40px;
    display: inline-block;
    margin: 5px 10px;
}

span.fav-site-name {
    position: absolute;
    font-size: 30px;
    line-height: 50px;
}

a.cross {
    position: absolute;
    right: 15px;
}

.cross:before,
.cross:after {
    position: absolute;
    top: 20px;
    right: 10px;
    content: ' ';
    height: 16px;
    width: 2px;
    background-color: #333;
}

.cross:before {
    transform: rotate(45deg);
}

.cross:after {
    transform: rotate(-45deg);
}

/* Header */
header#header {
    background: #fff;
}

.logo {
    height: 120px;
}

.logo img {
    max-width: 210px;
    position: relative;
    top: 25%;
}

/* Banner */
.wrapper {
    max-width: 1200px;
    min-width: 320px;
    width: 98%;
    margin: 0 auto;
}

.banner {
    font-family: "OswaldRegular", Helvetica, sans-serif;
    background: rgb(236, 230, 193);
    background: radial-gradient(circle at 70%, rgba(236, 230, 193, 1) 6%, rgba(216, 196, 78, 1) 67%);
}

.banner-bg {
    height: 625px;
    position: relative;
}

.banner-bg img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
}

.banner-info {
    position: relative;
    top: 20%;
    left: 6%;
    width: 60%;
    color: #2c6247;
}

.banner-info span {
    display: block;
    line-height: initial;
}

.banner-title {
    font-family: "LobsterRegular", Helvetica, sans-serif;
    font-style: italic;
    font-size: 11em;
    color: #fff;
}

.banner-slogan {
    font-size: 1.2em;
    position: inherit;
    top: -25px;
    left: 215px;
}

#banner-phone span {
    display: inline-block;
}

.banner-address,
.banner-phone {
    width: 55%;
    text-align: center;
    font-size: 1.4em;
}

.banner-address {
    margin-top: 3%;
}

.banner-mode {
    font-family: "OswaldExtraLight", Helvetica, sans-serif;
    margin: 12% 0 0 25%;
    font-size: 2em;
}

.banner-container-menu {
    height: 236px;
}

#banner-wrap-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
    top: -66px;
}

#banner-wrap-menu a {
    position: relative;
    overflow: hidden;
    max-height: 210px;
}

#banner-wrap-menu a img {
    border: 4px solid #fff;
    width: 100%;
    max-width: 96%;
    filter: none;
}

#banner-wrap-menu a span {
    font-family: "OswaldBold", Helvetica, sans-serif;
    font-weight: bold;
    position: absolute;
    text-align: left;
    color: #fff;
    font-size: 1.4em;
    display: block;
    top: 90px;
    left: 1.2em;
}

#banner-wrap-menu a:hover {
    -webkit-box-shadow: 0px 49px 43px -32px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 49px 43px -32px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 49px 43px -32px rgba(0, 0, 0, 0.4);
}

#banner-wrap-menu a:hover img {
    filter: grayscale(1);
}


/* Footer */
.footer {
    font-family: "OswaldRegular", Helvetica, sans-serif;
    height: 260px;
    background: #232222;
    color: #fff;
}

.footer-contacts {
    padding-left: 5%;
}

.footer-title {
    font-family: "LobsterRegular", Helvetica, sans-serif;
    font-size: 3em;
    line-height: 1.5em;
    margin: 11% 0 8% 0;
}

.footer-address,
.footer-phone,
.footer-mode,
#footer-hour-mode,
.footer-social-head {
    font-size: 16px;
}

.footer-address {
    margin-bottom: 5%;
}

.footer-phone a {
    color: #fff;
}

h4#footer-hour-mode,
.footer-social-head {
    font-weight: normal;
    margin: 5px 0;
}

.block.footer-social {
    position: relative;
    height: 260px;
}

.footer-social-icon {
    position: absolute;
    bottom: 5%;
}

.footer-social-head {
    margin-left: 14px;
}

.footer-social-icon a img {
    width: 50px;
}

.footer-social-icon a {
    display: inline-block;
    margin: 14px 10px 0 10px;
}

.footer .footer-logo {
    height: 260px;
    position: relative;
}

.footer .footer-logo a {
    position: absolute;
    bottom: 6%;
    right: 6%;
    font-size: 4em;
    color: #2c6247;
}

.footer-logo a img {
    max-width: 210px;
}

/* Grid */
.raw {
    padding: 0;
}

.raw > .six-col,
.raw > .five-col,
.raw > .four-col,
.raw > .three-col,
.raw > .two-col {
    float: left;
}

.raw > .six-col {
    width: 16.66666%;
}

.raw > .five-col {
    width: 20%;
}

.raw > .four-col {
    width: 25%;
}

.raw > .three-col {
    width: 33.333%;
}

.raw > .two-col {
    width: 50%;
}

.raw > .one-col {
    width: 100%;
}

.raw > .six-col:nth-child(6n+1),
.raw > .five-col:nth-child(5n+1),
.raw > .four-col:nth-child(4n+1),
.raw > .three-col:nth-child(3n+1),
.raw > .two-col:nth-child(2n+1) {
    clear: both;
}

.block {
    min-height: 100px;
    margin: 0 auto;
}

.block img {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto !important;
}

/*.six-col > .block { width: 160px; }*/
/*.five-col > .block { width: 180px; }*/
/*.four-col >.block { width: 240px; }*/
/*.three-col >.block { width: 300px; }*/
/*.two-col >.block { width: 500px; }*/
/*.one-col >.block { width: 90%; min-width: 300px; }*/

@media screen and (max-width: 1060px) {
    .raw > .six-col {
        width: 20%;
    }

    .raw > .five-col {
        width: 25%;
    }

    .raw > .four-col {
        width: 33.3333%;
    }

    .raw > .six-col:nth-child(6n+1),
    .raw > .five-col:nth-child(5n+1),
    .raw > .four-col:nth-child(4n+1) {
        clear: none;
    }

    .raw > .six-col:nth-child(5n+1),
    .raw > .five-col:nth-child(4n+1),
    .raw > .four-col:nth-child(3n+1) {
        clear: both;
    }
}

@media screen and (max-width: 1020px) {
    .raw > .three-col {
        width: 50%;
    }

    .raw > .three-col:nth-child(3n+1) {
        clear: none;
    }

    .raw > .three-col:nth-child(2n+1) {
        clear: both;
    }
}

@media screen and (max-width: 950px) {
    .raw > .six-col {
        width: 25%;
    }

    .raw > .six-col:nth-child(5n+1) {
        clear: none;
    }

    .raw > .six-col:nth-child(4n+1) {
        clear: both;
    }

    .six-col > .block {
        width: 180px;
    }
}

@media screen and (max-width: 900px) {

    .raw > .three-col,
    .raw > .two-col {
        width: 50%;
    }

    .raw > .three-col:nth-child(2n+1),
    .raw > .two-col:nth-child(2n+1) {
        clear: none;
    }

    .three-col > .block,
    .two-col > .block {
        width: 90%;
        min-width: 300px;
    }
}

@media screen and (max-width: 800px) {

    .raw > .six-col,
    .raw > .five-col {
        width: 33.3333%;
    }

    .raw > .four-col {
        width: 50%;
    }

    .raw > .six-col:nth-child(4n+1),
    .raw > .five-col:nth-child(4n+1),
    .raw > .four-col:nth-child(3n+1) {
        clear: none;
    }

    .raw > .six-col:nth-child(3n+1),
    .raw > .five-col:nth-child(3n+1),
    .raw > .four-col:nth-child(2n+1) {
        clear: both;
    }

    .four-col > .block {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {

    .raw > .six-col,
    .raw > .five-col {
        width: 50%;
    }

    .raw > .six-col:nth-child(3n+1),
    .raw > .five-col:nth-child(3n+1) {
        clear: none;
    }

    .raw > .six-col:nth-child(2n+1),
    .raw > .five-col:nth-child(2n+1) {
        clear: both;
    }

    .six-col > .block,
    .five-col > .block {
        width: 33.333%;
    }
}

@media screen and (max-width: 580px) {

    .raw > .six-col,
    .raw > .five-col,
    .raw > .four-col,
    .raw > .three-col {
        width: 100%;
    }

    .raw > .six-col:nth-child(2n+1),
    .raw > .five-col:nth-child(2n+1),
    .raw > .four-col:nth-child(2n+1) {
        clear: none;
    }

    .six-col > .block,
    .five-col > .block,
    .four-col > .block {
        width: 100%;
    }
}
