/* Banner */
.banner {
    font-family: "OswaldRegular", Helvetica, sans-serif;
    position: relative;
    overflow: hidden;
}

.banner > img {
    position: absolute;
    max-width: 100%;
}

.banner-bg {
    min-height: 580px;
    position: relative;
}

.banner-bg img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
}

.banner-info {
    position: absolute;
    bottom: 18%;
    left: 50%;
    width: 60%;
    transform: translateX(-50%);
}

.banner-title {
    font-family: "RalewayItalic", Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    color: #fff;
    transform: translate(0, -100%);
    opacity: 0;
    transition: all 0.6s ease 0s;
}

.banner-title.active {
    transform: translate(0px, 0px);
    opacity: 1;
}

.banner-slogan {
    font-size: 1em;
    position: relative;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    transform: translate(0, 100%);
    opacity: 0;
    transition: all 0.6s ease 0s;
}

.banner-slogan.active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.6s ease 0.4s;
    /*дополнительная задержка*/
}

.banner-slogan span.glegrand.glegrand-logo, .banner-slogan q {
    font-size: 2em;
    vertical-align: sub;
}

.banner-slogan q {
    quotes: "\201c" "\201d";
}

#banner-contacts {
    width: 80%;
}

.banner-address,
.banner-phone {
    text-align: center;
    font-size: 1em;
    margin-right: 30%;

    transform: translate(-120%, 0px);
    opacity: 0;
    transition: all 0.6s ease 0s;
}

.banner-address.active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.6s ease 0.4s;
    /*дополнительная задержка*/
}

.banner-phone.active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.6s ease 0.6s;
    /*дополнительная задержка*/
}

.banner-phone a {
    color: #2c6247;
}

.banner-address {
    margin-top: 3%;
}

.banner-mode {
    font-family: "OswaldExtraLight", Helvetica, sans-serif;
    margin-top: 10%;
    font-size: 1.5em;
    text-align: right;

    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.6s ease 0s;
}

.banner-mode.active {
    transform: translate(0px, 0px);
    opacity: 1;
    transition: all 0.6s ease 0.4s;
    /*дополнительная задержка*/
}

.banner-container-menu {
    min-height: 236px;
    margin: 100px auto;
}

#banner-wrap-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

#banner-wrap-menu a {
    position: relative;
    overflow: hidden;
}

#banner-wrap-menu a img {
    width: 100%;
    filter: none;
    padding: 0;
}

#banner-wrap-menu a span {
    font-family: "OswaldBold", Helvetica, sans-serif;
    text-align: center;
    font-size: 1.4em;
    display: block;
}

#banner-wrap-menu a:hover {
    -webkit-box-shadow: 0px 49px 43px -32px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0px 49px 43px -32px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 49px 43px -32px rgba(0, 0, 0, 0.4);
}

#banner-wrap-menu a:hover img {
    filter: grayscale(1);
}

ul#banner-wrap-menu .three-col,
ul#footer-wrap-menu .four-col {
    transform: translate(0, 120%);
    opacity: 0;
    transition: all 0.4s ease 0s;
}

ul#banner-wrap-menu .three-col:nth-child(3n+1).active,
ul#footer-wrap-menu .four-col:nth-child(4n+1).active {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 0.4s ease 0s;
}

ul#banner-wrap-menu .three-col:nth-child(3n+2).active,
ul#footer-wrap-menu .four-col:nth-child(4n+2).active {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 0.4s ease 0.1s;
}

ul#banner-wrap-menu .three-col:nth-child(3n+3).active,
ul#footer-wrap-menu .four-col:nth-child(4n+3).active {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 0.4s ease 0.2s;
}

ul#footer-wrap-menu .four-col:nth-child(4n+4).active {
    transform: translate(0, 0);
    opacity: 1;
    transition: all 0.4s ease 0.3s;
}
