/* Banner */
.banner {
    font-family: "OswaldRegular", Helvetica, sans-serif;
    position: relative;
    overflow: hidden;
}

.banner > img {
    position: absolute;
    width: 100%;
}

.banner-bg {
    min-height: 580px;
    position: relative;
}

.banner-bg img {
    position: absolute;
    right: 0;
    bottom: 0;
    height: 100%;
}

.banner-info {
    position: absolute;
    bottom: 18%;
    left: 50%;
    width: 60%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}

.banner-title {
    font-family: "RalewayItalic", Helvetica, sans-serif;
    font-size: 2em;
    text-align: center;
    color: #fff;
    -webkit-transform: translate(0, -100%);
    transform: translate(0, -100%);
    opacity: 0;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    color: #d8c44e;
}

.banner-title.active {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
}

.banner-slogan {
    font-size: 1em;
    text-align: center;
    color: #fff;
    margin-top: 20px;
    -webkit-transform: translate(0, 100%);
    transform: translate(0, 100%);
    opacity: 0;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
    color: #d8c44e;
}

.banner-slogan.active {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    -webkit-transition: all 0.6s ease 0.4s;
    transition: all 0.6s ease 0.4s;
    /*дополнительная задержка*/
}

.banner-slogan span.glegrand.glegrand-logo, .banner-slogan q {
    font-size: 2em;
    vertical-align: sub;
}

.banner-slogan q {
    quotes: "\201c" "\201d";
}

#banner-contacts {
    width: 80%;
}

.banner-address,
.banner-phone {
    text-align: center;
    font-size: 1em;
    margin-right: 30%;

    -webkit-transform: translate(-120%, 0px);

    transform: translate(-120%, 0px);
    opacity: 0;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}

.banner-address.active {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    -webkit-transition: all 0.6s ease 0.4s;
    transition: all 0.6s ease 0.4s;
    /*дополнительная задержка*/
}

.banner-phone.active {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    -webkit-transition: all 0.6s ease 0.6s;
    transition: all 0.6s ease 0.6s;
    /*дополнительная задержка*/
}

.banner-phone a {
    color: #2c6247;
}

.banner-address {
    margin-top: 3%;
}

.banner-mode {
    font-family: "OswaldExtraLight", Helvetica, sans-serif;
    margin-top: 10%;
    font-size: 1.5em;
    text-align: right;

    -webkit-transform: translate(0, 120%);

    transform: translate(0, 120%);
    opacity: 0;
    -webkit-transition: all 0.6s ease 0s;
    transition: all 0.6s ease 0s;
}

.banner-mode.active {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1;
    -webkit-transition: all 0.6s ease 0.4s;
    transition: all 0.6s ease 0.4s;
    /*дополнительная задержка*/
}

/* Sidebar */
ul#sidebar {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fdfff1;
}

ul#sidebar img {
    display: block;
    margin: 0 auto;
    width: 100%
}

ul#sidebar .textwidget {
    padding: 10%;
    text-align: center;
}

ul#sidebar .textwidget h2 {
    margin-bottom: 25px;
    font-family: 'LobsterRegular';
    font-size: 1.6em;
}

ul#sidebar .textwidget h2 {
    color: #d8c44e;
}

ul#sidebar .textwidget h2 span {
    display: block;
    font-size: 65px;
    margin-bottom: 15px;
}

ul#sidebar .textwidget p {
    padding: 20px 5%;
    font-size: 0.8em;
}

/* Banner Menu */
.banner-container-menu {
    min-height: 236px;
    margin: 100px auto;
}

#banner-wrap-menu {
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

#banner-wrap-menu a {
    position: relative;
    overflow: hidden;
}

#banner-wrap-menu a img {
    width: 100%;
    -webkit-filter: none;
    filter: none;
    padding: 0;
}

#banner-wrap-menu a span {
    font-family: "OswaldBold", Helvetica, sans-serif;
    text-align: center;
    font-size: 1.4em;
    display: block;
}

#banner-wrap-menu a:hover {
    -webkit-box-shadow: 0px 49px 43px -32px rgba(0, 0, 0, 0.4);
    box-shadow: 0px 49px 43px -32px rgba(0, 0, 0, 0.4);
}

#banner-wrap-menu a:hover img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
}

ul#banner-wrap-menu .three-col,
ul#footer-wrap-menu .four-col {
    -webkit-transform: translate(0, 120%);
    transform: translate(0, 120%);
    opacity: 0;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

ul#banner-wrap-menu .three-col:nth-child(3n+1).active,
ul#footer-wrap-menu .four-col:nth-child(4n+1).active {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

ul#banner-wrap-menu .three-col:nth-child(3n+2).active,
ul#footer-wrap-menu .four-col:nth-child(4n+2).active {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -webkit-transition: all 0.4s ease 0.1s;
    transition: all 0.4s ease 0.1s;
}

ul#banner-wrap-menu .three-col:nth-child(3n+3).active,
ul#footer-wrap-menu .four-col:nth-child(4n+3).active {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -webkit-transition: all 0.4s ease 0.2s;
    transition: all 0.4s ease 0.2s;
}

ul#footer-wrap-menu .four-col:nth-child(4n+4).active {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -webkit-transition: all 0.4s ease 0.3s;
    transition: all 0.4s ease 0.3s;
}
