/* Footer menu */
#footer-menu {
    padding: 120px 0;
}

#footer-wrap-menu {
    list-style-type: none;
    max-width: 1280px;
    margin: 0 auto;
}

#footer-menu .footer-container-menu {
    display: inline-block;
    width: 100%;
}

#footer-wrap-menu li,
#footer-wrap-menu li a > img {
    padding: 0;
    margin: 0;
}

#footer-wrap-menu li a > img {
    width: 100%;
    position: relative;
    bottom: 0;
    -webkit-transition: .5s ease;
    transition: .5s ease;
}

#footer-wrap-menu li a {
    position: relative;
    overflow: hidden;
    background: #232222;
}

#footer-wrap-menu li a:hover > img {
    bottom: 83px;
    opacity: 0.5;
}

#footer-wrap-menu li span {
    position: absolute;
    bottom: -68px;
    width: 80%;
    height: 68px;
    padding: 10px 11% 10px 10%;
    opacity: 0;
    color: #d8c44e;
    font-family: 'LobsterRegular', Helvetica, sans-serif;
    font-size: 1.5em;
    text-align: center;
    -webkit-transition: .5s ease;
    transition: .5s ease;
    z-index: 2;
    display: grid;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

#footer-wrap-menu li a:hover span {
    opacity: 1;
    bottom: 0;
}

@media(hover: hover) and (pointer: fine) {
    #footer-wrap-menu li a:hover span {
        opacity: 1;
    }

    #footer-wrap-menu li a:hover .overlay {
        height: 100%;
    }
}

/* Footer */
.footer {
    background: #232222;
    color: #d8c44e;
}

.footer-contacts {
    padding-left: 5%;
}

.footer-title {
    font-family: "LobsterRegular", Helvetica, sans-serif;
    font-size: 2.6em;
    margin: 11% 0 8% 0;
    -webkit-transform: translate(0, 120%);
    transform: translate(0, 120%);
    opacity: 0;
    -webkit-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}

.footer-title.active {
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    -webkit-transition: all 0.4s ease 0.4s;
    transition: all 0.4s ease 0.4s;
}

.footer-address {
    margin-bottom: 5%;
}

.footer-phone a {
    color: #d8c44e;
}

h4.footer-hour-mode,
.footer-social-head {
    font-weight: normal;
}

.block.footer-social {
    position: relative;
    height: 260px;
}

.footer-social-icon {
    position: absolute;
    bottom: 5%;
    right: 20%;
}

.footer-social-head {
    margin-left: 10px;
}

.footer-social-icon a img {
    width: 50px;
}

.footer-social-icon a {
    display: inline-block;
    margin: 14px 10px 0 10px;
    -webkit-filter: grayscale(0.4);
    filter: grayscale(0.4);
}

.footer-social-icon a:hover {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}

.footer .footer-logo {
    height: 260px;
    position: relative;
}

.footer .footer-logo a {
    position: absolute;
    bottom: 6%;
    right: 6%;
    font-size: 4em;
    color: #2c6247;
}
