/* General style */
* {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    letter-spacing: 0.01em;
}

body {
    height: 100%;
    color: #000;
}

a {
    color: #000;
    text-decoration: none;
}

a img {
    border: none;
}

.wrapper {
    max-width: 1200px;
    min-width: 320px;
    width: 98%;
    margin: 0 auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
nav,
section {
    display: block;
}

.clearfix {
    clear: both;
}

.left {
    float: left;
}

.right {
    float: right;
}

/* Grid */
.raw {
    padding: 0;
}

.raw > .six-col,
.raw > .five-col,
.raw > .four-col,
.raw > .three-col,
.raw > .two-col {
    float: left;
}

.raw > .six-col {
    width: 16.66666%;
}

.raw > .five-col {
    width: 20%;
}

.raw > .four-col {
    width: 25%;
}

.raw > .three-col {
    width: 33.333%;
}

.raw > .two-col {
    width: 50%;
}

.raw > .one-col {
    width: 100%;
}

.raw > .six-col:nth-child(6n+1),
.raw > .five-col:nth-child(5n+1),
.raw > .four-col:nth-child(4n+1),
.raw > .three-col:nth-child(3n+1),
.raw > .two-col:nth-child(2n+1) {
    clear: both;
}

.block {
    min-height: 100px;
    margin: 0 auto;
}

.block img {
    display: block;
    width: 100%;
    max-width: 100%;
    margin: 0 auto !important;
}

@media screen and (max-width: 1060px) {
    .raw > .six-col {
        width: 20%;
    }

    .raw > .five-col {
        width: 25%;
    }

    .raw > .four-col {
        width: 33.3333%;
    }

    .raw > .six-col:nth-child(6n+1),
    .raw > .five-col:nth-child(5n+1),
    .raw > .four-col:nth-child(4n+1) {
        clear: none;
    }

    .raw > .six-col:nth-child(5n+1),
    .raw > .five-col:nth-child(4n+1),
    .raw > .four-col:nth-child(3n+1) {
        clear: both;
    }
}

@media screen and (max-width: 1020px) {
    .raw > .three-col {
        width: 50%;
    }

    .raw > .three-col:nth-child(3n+1) {
        clear: none;
    }

    .raw > .three-col:nth-child(2n+1) {
        clear: both;
    }
}

@media screen and (max-width: 950px) {
    .raw > .six-col {
        width: 25%;
    }

    .raw > .six-col:nth-child(5n+1) {
        clear: none;
    }

    .raw > .six-col:nth-child(4n+1) {
        clear: both;
    }
}

@media screen and (max-width: 900px) {

    .raw > .three-col,
    .raw > .two-col {
        width: 50%;
    }

    .raw > .three-col:nth-child(2n+1),
    .raw > .two-col:nth-child(2n+1) {
        clear: none;
    }

    .three-col > .block,
    .two-col > .block {
        width: 90%;
        min-width: 300px;
    }
}

@media screen and (max-width: 800px) {

    .raw > .six-col,
    .raw > .five-col {
        width: 33.3333%;
    }

    .raw > .four-col {
        width: 50%;
    }

    .raw > .six-col:nth-child(4n+1),
    .raw > .five-col:nth-child(4n+1),
    .raw > .four-col:nth-child(3n+1) {
        clear: none;
    }

    .raw > .six-col:nth-child(3n+1),
    .raw > .five-col:nth-child(3n+1),
    .raw > .four-col:nth-child(2n+1) {
        clear: both;
    }

    .four-col > .block {
        width: 100%;
    }
}

@media screen and (max-width: 700px) {

    .raw > .six-col,
    .raw > .five-col {
        width: 50%;
    }

    .raw > .six-col:nth-child(3n+1),
    .raw > .five-col:nth-child(3n+1) {
        clear: none;
    }

    .raw > .six-col:nth-child(2n+1),
    .raw > .five-col:nth-child(2n+1) {
        clear: both;
    }

    .six-col > .block,
    .five-col > .block {
        width: 33.333%;
    }

    .raw > .two-col {
        width: 100%;
    }
}

@media screen and (max-width: 580px) {

    .raw > .six-col,
    .raw > .five-col,
    .raw > .four-col,
    .raw > .three-col {
        width: 100%;
    }

    .raw > .six-col:nth-child(2n+1),
    .raw > .five-col:nth-child(2n+1),
    .raw > .four-col:nth-child(2n+1) {
        clear: none;
    }

    .six-col > .block,
    .five-col > .block,
    .four-col > .block {
        width: 100%;
    }
}

.button {
    display: inline-block;
    text-decoration: none;
    font-size: 13px;
    line-height: 36px;
    height: 36px;
    margin: 0;
    padding: 0 25px 1px;
    cursor: pointer;
    border: 1px solid;
    -webkit-appearance: none;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    white-space: nowrap;
}

.button,
.button-secondary {
    color: #555;
    border-color: #ccc;
    background: #f7f7f7;
    -webkit-box-shadow: 0 1px 0 #ccc;
    -moz-box-shadow: 0 1px 0 #ccc;
    box-shadow: 0 1px 0 #ccc;
    vertical-align: top;
}

.button:hover {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    padding-top: 1px;
    padding-bottom: 0;
}

.button-cancel {
    background: #b1331e;
    color: white;
}

.button-primary {
    background: #2f644a;
    color: #fff;
}

input:not([type]),
input[type="email"],
input[type="number"],
input[type="password"],
input[type="tel"],
input[type="url"],
input[type="text"],
input[type="search"],
input[type="submit"] {
    width: 30%;
    height: 36px;
    padding: 0 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

@media screen and (max-width: 1200px) {
    .wrapper {
        max-width: 970px;
    }
}

@media screen and (max-width: 992px) {
    .wrapper {
        max-width: 750px;
    }
}

@media screen and (max-width: 767px) {
    .wrapper {
        max-width: none;
    }
}

/* Content style */
.content table {
    margin: 25px 0;
}

.content td,
.content th {
    padding: 8px;
}

.content tr:hover {
    background-color: #ddd !important;
}

.content th {
    padding-top: 12px;
    padding-bottom: 12px;
    background-color: #ddd;
}


.content p {
    padding: 15px 0;
}

.content ul {
    margin-left: 5%;
    list-style: square;
}

.content li {
    padding: 10px 0 10px 3%;
    font-size: 1em;
}

@media screen and (max-width: 450px) {
    .content li {
        font-size: 1em;
    }
}

.content h2,
.content h3,
.content h4,
.content h5,
.content h6 {
    padding: 20px 0 15px 10px;
}

.wp-block-pullquote {
    border-top: 4px solid #555d66;
    border-bottom: 4px solid #555d66;
    margin-bottom: 28px;
    color: #40464d;
}

.wp-block-pullquote cite,
.wp-block-quote cite {
    font-family: 'OswaldExtraLight', 'Helvetica', sans-serif;
    text-transform: capitalize;
    font-size: 0.8em;
    color: #6c7781;
}

.wp-block-quote {
    border-left: 4px solid #000;
    margin: 0 0 28px;
    padding-left: 1em;
}
