/* Style */
body {
    font-family: "OswaldRegular", Helvetica, sans-serif;
    font-size: 100%;
}

.display {
    display: unset;
}

.breadcrumbs {
    margin: 2%;
}

/* General Media width */
@media screen and (max-width: 1200px) {
    .banner-bg {
        min-height: 500px;
    }

    .banner-title {
        font-size: 6em;
    }

    .banner-address,
    .banner-phone {
        width: 65%;
    }

    .single-page-content {
        top: -200px;
        margin-bottom: -200px;
    }

    article#page-contacts .single-page-cont h1 {
        position: relative;
        left: 0;
        top: 0;
        width: 100%;
        margin: 20px 0;
    }

    .single-page-contacts {
        max-width: 100%;
        margin-bottom: 0;
    }

    iframe.google-map {
        position: relative;
        top: 0;
        right: 0;
        max-width: 100%;
        height: 455px;
    }
}

@media screen and (max-width: 1020px) {
    .three-col.footer-logo {
        width: 100% !important;
    }

    .footer .footer-logo {
        height: 0;
    }

    .footer-social-icon {
        bottom: unset;
        right: 10%;
    }

    .three-col.footer-logo .block {
        min-height: 0;
    }
}

@media screen and (max-width: 992px) {
    body {
        font-size: 90%;
    }

    #header .header-nav {
        width: 320px;
        position: relative;
        height: 0;
    }

    #top-menu li a:hover + span {
        height: 0;
    }

    #burger-menu {
        display: block;
    }

    .main-menu {
        z-index: 10;
        background: #fff;
        position: relative;
        top: 120px;
        text-align: center;
        border: 1px solid gainsboro;
        display: none;
    }

    #top-menu li {
        display: block;
        height: 50px;
        line-height: 50px;
        margin: 0;
        z-index: 10;
    }

    #top-menu li a {
        display: inline-block;
        width: 100%;
        height: 100%;
        line-height: 50px;
        transition: all 0.2s linear;
    }

    #top-menu span.und-line {
        bottom: 0;
    }

    #top-menu li a:hover {
        background: #2c6247;
        color: #fff;
    }

    #banner-contacts {
        display: none;
    }

    .banner-info {
        top: 40%;
        width: auto;
    }

    .banner-slogan {
        top: -32px;
        left: 31%;
    }

    .banner-bg {
        min-height: 460px;
    }

    article#page-content .single-page h1 {
        left: 50%;
        transform: translate(-50%, 0);
        top: 150px;
        width: 60%;
        background-color: rgb(255, 255, 255, 0.75);
        box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.35);
        padding: 2% 5%;
    }
}

@media screen and (max-width: 750px) {
    .single-page-content {
        top: 0;
        margin-bottom: 0;
    }
}

@media screen and (max-width: 625px) {
    body {
        font-size: 80%;
    }

    .right {
        position: absolute;
        right: 1%;
    }

    .banner-container-menu {
        width: 80%;
    }

    #banner-wrap-menu > .three-col {
        width: 100%;
    }

    #content-page .content-about h1 {
        font-size: 1.4em;
    }

    .content {
        font-size: 0.8em;
    }

    .page-thumbnail img {
        width: 130%;
        left: -15%;
    }

    article#page-content .single-page h1 {
        top: 165px;
    }

    .single-page-contacts {
        font-size: 1.5em;
    }
}

@media screen and (max-width: 580px) {
    .banner-title {
        font-size: 5em;
    }

    .banner-info {
        top: 48%;
    }

    #footer-menu {
        display: block;
        max-width: 80%;
        margin: 0 auto;
    }

    .block.footer-social {
        height: 0;
    }

    .footer-social-icon {
        right: unset;
    }
}

@media screen and (max-width: 500px) {
    .footer .footer-logo {
        height: 80px;
    }

    .footer .footer-logo a {
        right: unset;
    }

    .page-thumbnail img {
        width: 160%;
        left: -30%;
    }
}

@media screen and (max-width: 450px) {
    .banner-bg {
        min-height: 350px;
    }

    .banner-title {
        font-size: 4em;
    }

    .banner-slogan {
        top: unset;
        left: unset;
    }

    .three-col > .block {
        min-width: fit-content !important;
    }

    article#page-content .single-page h1 {
        top: 120px;
        width: 80%;
    }

    #content-page .content-about h1 {
        margin-bottom: 30px;
    }

    #content-page .content-about ul {
        margin: 30px 0;
    }

    #content-page {
        min-height: 500px;
    }

    #content-page .content-about {
        min-height: 350px;
    }
}
